
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#islands-map { 
	height: 500px; 
}

#islands-list .active {
	background-color: #fcf8e3;
}

#islands-map button{
	font-size: 1.2em;
	margin-top: 5px;
	border-radius: 2px;
	border-width: 1px;
	background-color: #fff;
	padding: 2px 5px;
}

#islands-map button:hover{

	background-color: #D9DBF2;
}












